.groove{
    border-style: solid;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    margin-left: 600px;
    width: 300px;
    background-color: white;
    border-color: grey;
}
.groove img{
    height: 200px;
    width: 200px;
}
.groove button{
    color: white;
    background-color: black;
    height: 40px;
    width: 100px;
    border-radius: 12px;
    margin-bottom: 20px;
    border: none;
}
.groove button:hover{
    color: black;
    background-color: rgb(169, 167, 167);
    height: 40px;
    width: 100px;
    border-radius: 12px;
    margin-bottom: 20px;
    transition: 0.1s;
    border: none;
}
h5{
    text-align: center;
}
s{
    color: gray;
}